[submodule "vendor/bundle/ruby/2.5.0/bundler/gems/hiptest-publisher-f2554c319ae5"]
	path = vendor/bundle/ruby/2.5.0/bundler/gems/hiptest-publisher-f2554c319ae5
	url = https://github.com/Hexawise/hiptest-publisher.git
